<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVA Event Hire</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <a href="/">
            <img src="/static/images/AVA Logo.png" alt="AVA Event Hire Logo" class="logo">
        </a>
        <h1>Welcome to AVA Event Hire</h1>
        <nav>
            <ul>
            </ul>
        </nav>
    </header>
    
    <main>
        <div class="product-grid">
            {% for product in products %}
            <div class="product">
                <a href="/product/{{ loop.index }}">
                    <img src="/static/images/{{ product.images[0] }}" alt="{{ product.name }}">
                </a>
                <h3>{{ product.name }}</h3>
            </div>
            {% endfor %}
        </div>
    </main>
    <footer>
        <p>&copy; 2024 AVA Event Hire. All rights reserved.</p>
    </footer>
</body>
</html>
